@font-face {
    font-family: 'sh-icons';
    src:    url('fonts/sh-icons.eot?seb1re');
    src:    url('fonts/sh-icons.eot?seb1re#iefix') format('embedded-opentype'),
        url('fonts/sh-icons.ttf?seb1re') format('truetype'),
        url('fonts/sh-icons.woff?seb1re') format('woff'),
        url('fonts/sh-icons.svg?seb1re#sh-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'sh-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sh-adobe-acrobat:before {
    content: "\e900";
}
.sh-adobe-acrobat-b:before {
    content: "\e901";
}
.sh-adobe-aftereffects:before {
    content: "\e902";
}
.sh-adobe-aftereffects-b:before {
    content: "\e903";
}
.sh-adobe-animate:before {
    content: "\e904";
}
.sh-adobe-animate-b:before {
    content: "\e905";
}
.sh-adobe-audition:before {
    content: "\e906";
}
.sh-adobe-audition-b:before {
    content: "\e907";
}
.sh-adobe-behance:before {
    content: "\e908";
}
.sh-adobe-behance-b:before {
    content: "\e909";
}
.sh-adobe-build:before {
    content: "\e90a";
}
.sh-adobe-build-b:before {
    content: "\e90b";
}
.sh-adobe-code:before {
    content: "\e90c";
}
.sh-adobe-code-b:before {
    content: "\e90d";
}
.sh-adobe-creativecloud:before {
    content: "\e90e";
}
.sh-adobe-creativecloud-b:before {
    content: "\e90f";
}
.sh-adobe-exmanager:before {
    content: "\e910";
}
.sh-adobe-exmanager-b:before {
    content: "\e911";
}
.sh-adobe-exsctoolkit:before {
    content: "\e912";
}
.sh-adobe-exsctoolkit-b:before {
    content: "\e913";
}
.sh-adobe-flashbuilder:before {
    content: "\e914";
}
.sh-adobe-flashbuilder-b:before {
    content: "\e915";
}
.sh-adobe-fuse:before {
    content: "\e916";
}
.sh-adobe-fuse-b:before {
    content: "\e917";
}
.sh-adobe-illustrator:before {
    content: "\e918";
}
.sh-adobe-illustrator-b:before {
    content: "\e919";
}
.sh-adobe-incopy:before {
    content: "\e91a";
}
.sh-adobe-incopy-b:before {
    content: "\e91b";
}
.sh-adobe-indesign:before {
    content: "\e91c";
}
.sh-adobe-indesign-b:before {
    content: "\e91d";
}
.sh-adobe-inspect:before {
    content: "\e91e";
}
.sh-adobe-inspect-b:before {
    content: "\e91f";
}
.sh-adobe-lightroom:before {
    content: "\e920";
}
.sh-adobe-lightroom-b:before {
    content: "\e921";
}
.sh-adobe-photoshop:before {
    content: "\e922";
}
.sh-adobe-photoshop-b:before {
    content: "\e923";
}
.sh-adobe-premiere:before {
    content: "\e924";
}
.sh-adobe-premiere-b:before {
    content: "\e925";
}
.sh-adobe-reflow:before {
    content: "\e926";
}
.sh-adobe-reflow-b:before {
    content: "\e927";
}
.sh-adobe-scout:before {
    content: "\e928";
}
.sh-adobe-scout-b:before {
    content: "\e929";
}
.sh-android:before {
    content: "\e92a";
}
.sh-android-designs:before {
    content: "\e92b";
}
.sh-api:before {
    content: "\e92c";
}
.sh-apple:before {
    content: "\e92d";
}
.sh-arrow:before {
    content: "\e92e";
}
.sh-average:before {
    content: "\e92f";
}
.sh-barcode:before {
    content: "\e930";
}
.sh-bitbucket:before {
    content: "\e931";
}
.sh-bitbucket-b:before {
    content: "\e932";
}
.sh-bitcoin:before {
    content: "\e933";
}
.sh-bookmark:before {
    content: "\e934";
}
.sh-bookmark-b:before {
    content: "\e935";
}
.sh-border-all:before {
    content: "\e936";
}
.sh-border-bottom:before {
    content: "\e937";
}
.sh-border-clear:before {
    content: "\e938";
}
.sh-border-horizontal:before {
    content: "\e939";
}
.sh-border-inner:before {
    content: "\e93a";
}
.sh-border-left:before {
    content: "\e93b";
}
.sh-border-outer:before {
    content: "\e93c";
}
.sh-border-right:before {
    content: "\e93d";
}
.sh-border-style:before {
    content: "\e93e";
}
.sh-border-top:before {
    content: "\e93f";
}
.sh-border-vertical:before {
    content: "\e940";
}
.sh-box:before {
    content: "\e941";
}
.sh-brace:before {
    content: "\e942";
}
.sh-braces:before {
    content: "\e943";
}
.sh-bullseye:before {
    content: "\e944";
}
.sh-bullseye-b:before {
    content: "\e945";
}
.sh-business-card:before {
    content: "\e946";
}
.sh-c:before {
    content: "\e947";
}
.sh-camera:before {
    content: "\e948";
}
.sh-certificate:before {
    content: "\e949";
}
.sh-chat:before {
    content: "\e94a";
}
.sh-chat-b:before {
    content: "\e94b";
}
.sh-check:before {
    content: "\e94c";
}
.sh-chevron:before {
    content: "\e94d";
}
.sh-circle:before {
    content: "\e94e";
}
.sh-circle-b:before {
    content: "\e94f";
}
.sh-cloud:before {
    content: "\e950";
}
.sh-cog:before {
    content: "\e951";
}
.sh-computer:before {
    content: "\e952";
}
.sh-c-plusplus:before {
    content: "\e953";
}
.sh-c-sharp:before {
    content: "\e954";
}
.sh-css3:before {
    content: "\e955";
}
.sh-css3-b:before {
    content: "\e956";
}
.sh-cyanogenmod:before {
    content: "\e957";
}
.sh-dekagon:before {
    content: "\e958";
}
.sh-dekagon-b:before {
    content: "\e959";
}
.sh-development-laptop:before {
    content: "\e95a";
}
.sh-development-website:before {
    content: "\e95b";
}
.sh-deviantart:before {
    content: "\e95c";
}
.sh-deviantart-b:before {
    content: "\e95d";
}
.sh-diamond:before {
    content: "\e95e";
}
.sh-digg:before {
    content: "\e95f";
}
.sh-digg-b:before {
    content: "\e960";
}
.sh-divided:before {
    content: "\e961";
}
.sh-download:before {
    content: "\e962";
}
.sh-dribbble:before {
    content: "\e963";
}
.sh-dribbble-b:before {
    content: "\e964";
}
.sh-dropbox:before {
    content: "\e965";
}
.sh-dropbox-b:before {
    content: "\e966";
}
.sh-drupal:before {
    content: "\e967";
}
.sh-drupal-b:before {
    content: "\e968";
}
.sh-euro:before {
    content: "\e969";
}
.sh-excl-mark:before {
    content: "\e96a";
}
.sh-facebook:before {
    content: "\e96b";
}
.sh-facebook-b:before {
    content: "\e96c";
}
.sh-fast-forward:before {
    content: "\e96d";
}
.sh-fast-rewind:before {
    content: "\e96e";
}
.sh-file:before {
    content: "\e96f";
}
.sh-film:before {
    content: "\e970";
}
.sh-fingerprint:before {
    content: "\e971";
}
.sh-flyer:before {
    content: "\e972";
}
.sh-folder:before {
    content: "\e973";
}
.sh-format-align-center:before {
    content: "\e974";
}
.sh-format-align-justify:before {
    content: "\e975";
}
.sh-format-align-left:before {
    content: "\e976";
}
.sh-format-align-right:before {
    content: "\e977";
}
.sh-format-bold:before {
    content: "\e978";
}
.sh-format-indent-decrease:before {
    content: "\e979";
}
.sh-format-indent-increase:before {
    content: "\e97a";
}
.sh-format-italic:before {
    content: "\e97b";
}
.sh-format-list-bulleted:before {
    content: "\e97c";
}
.sh-format-list-numbered:before {
    content: "\e97d";
}
.sh-format-underlined:before {
    content: "\e97e";
}
.sh-gamepad:before {
    content: "\e97f";
}
.sh-games:before {
    content: "\e980";
}
.sh-gaming-console:before {
    content: "\e981";
}
.sh-git:before {
    content: "\e982";
}
.sh-globe:before {
    content: "\e983";
}
.sh-globe-b:before {
    content: "\e984";
}
.sh-google:before {
    content: "\e985";
}
.sh-google-b:before {
    content: "\e986";
}
.sh-google-plus:before {
    content: "\e987";
}
.sh-google-plus-b:before {
    content: "\e988";
}
.sh-haeretik:before {
    content: "\e989";
}
.sh-haeretik-b:before {
    content: "\e98a";
}
.sh-haeroik-designs:before {
    content: "\e98b";
}
.sh-haeroik-studios:before {
    content: "\e98c";
}
.sh-hashtag:before {
    content: "\e98d";
}
.sh-heart:before {
    content: "\e98e";
}
.sh-heart-b:before {
    content: "\e98f";
}
.sh-heptagon:before {
    content: "\e990";
}
.sh-heptagon-b:before {
    content: "\e991";
}
.sh-hexagon:before {
    content: "\e992";
}
.sh-hexagon-b:before {
    content: "\e993";
}
.sh-home:before {
    content: "\e994";
}
.sh-homepage:before {
    content: "\e995";
}
.sh-hourglass:before {
    content: "\e996";
}
.sh-hourglass-b:before {
    content: "\e997";
}
.sh-html5:before {
    content: "\e998";
}
.sh-html5-b:before {
    content: "\e999";
}
.sh-icon:before {
    content: "\e99a";
}
.sh-image:before {
    content: "\e99b";
}
.sh-infinity:before {
    content: "\e99c";
}
.sh-info:before {
    content: "\e99d";
}
.sh-info-b:before {
    content: "\e99e";
}
.sh-instagram:before {
    content: "\e99f";
}
.sh-instagram-b:before {
    content: "\e9a0";
}
.sh-java:before {
    content: "\e9a1";
}
.sh-java-b:before {
    content: "\e9a2";
}
.sh-javascript:before {
    content: "\e9a3";
}
.sh-javascript-b:before {
    content: "\e9a4";
}
.sh-joomla:before {
    content: "\e9a5";
}
.sh-label:before {
    content: "\e9a6";
}
.sh-label-b:before {
    content: "\e9a7";
}
.sh-laptop:before {
    content: "\e9a8";
}
.sh-lastfm:before {
    content: "\e9a9";
}
.sh-lastfm-b:before {
    content: "\e9aa";
}
.sh-leaves:before {
    content: "\e9ab";
}
.sh-linkedin:before {
    content: "\e9ac";
}
.sh-linkedin-b:before {
    content: "\e9ad";
}
.sh-linux:before {
    content: "\e9ae";
}
.sh-mail:before {
    content: "\e9af";
}
.sh-mail-b:before {
    content: "\e9b0";
}
.sh-menu:before {
    content: "\e9b1";
}
.sh-microphone:before {
    content: "\e9b2";
}
.sh-minus:before {
    content: "\e9b3";
}
.sh-multiply:before {
    content: "\e9b4";
}
.sh-mysql:before {
    content: "\e9b5";
}
.sh-mysql-b:before {
    content: "\e9b6";
}
.sh-network:before {
    content: "\e9b7";
}
.sh-nonagon:before {
    content: "\e9b8";
}
.sh-nonagon-b:before {
    content: "\e9b9";
}
.sh-oktogon:before {
    content: "\e9ba";
}
.sh-oktogon-b:before {
    content: "\e9bb";
}
.sh-padlock-closed:before {
    content: "\e9bc";
}
.sh-padlock-open:before {
    content: "\e9bd";
}
.sh-paintboard:before {
    content: "\e9be";
}
.sh-paperclip:before {
    content: "\e9bf";
}
.sh-pause:before {
    content: "\e9c0";
}
.sh-paypal:before {
    content: "\e9c1";
}
.sh-paypal-b:before {
    content: "\e9c2";
}
.sh-pearl:before {
    content: "\e9c3";
}
.sh-pen:before {
    content: "\e9c4";
}
.sh-pentagon:before {
    content: "\e9c5";
}
.sh-pentagon-b:before {
    content: "\e9c6";
}
.sh-pen-tip:before {
    content: "\e9c7";
}
.sh-pen-tip-b:before {
    content: "\e9c8";
}
.sh-php:before {
    content: "\e9c9";
}
.sh-php-b:before {
    content: "\e9ca";
}
.sh-pie-chart:before {
    content: "\e9cb";
}
.sh-play:before {
    content: "\e9cc";
}
.sh-plus:before {
    content: "\e9cd";
}
.sh-plus-b:before {
    content: "\e9ce";
}
.sh-poster:before {
    content: "\e9cf";
}
.sh-printer:before {
    content: "\e9d0";
}
.sh-prohibited:before {
    content: "\e9d1";
}
.sh-python:before {
    content: "\e9d2";
}
.sh-qr:before {
    content: "\e9d3";
}
.sh-rails:before {
    content: "\e9d4";
}
.sh-reddit:before {
    content: "\e9d5";
}
.sh-reddit-b:before {
    content: "\e9d6";
}
.sh-reddit-c:before {
    content: "\e9d7";
}
.sh-responsive:before {
    content: "\e9d8";
}
.sh-rss:before {
    content: "\e9d9";
}
.sh-rss-b:before {
    content: "\e9da";
}
.sh-rss-c:before {
    content: "\e9db";
}
.sh-ruby:before {
    content: "\e9dc";
}
.sh-search:before {
    content: "\e9dd";
}
.sh-seo:before {
    content: "\e9de";
}
.sh-server:before {
    content: "\e9df";
}
.sh-sh:before {
    content: "\e9e0";
}
.sh-sh-b:before {
    content: "\e9e1";
}
.sh-shield:before {
    content: "\e9e2";
}
.sh-shield-b:before {
    content: "\e9e3";
}
.sh-shirt:before {
    content: "\e9e4";
}
.sh-shop:before {
    content: "\e9e5";
}
.sh-shopping-cart:before {
    content: "\e9e6";
}
.sh-shopware:before {
    content: "\e9e7";
}
.sh-skip-next:before {
    content: "\e9e8";
}
.sh-skip-previous:before {
    content: "\e9e9";
}
.sh-skype:before {
    content: "\e9ea";
}
.sh-skype-b:before {
    content: "\e9eb";
}
.sh-smartphone:before {
    content: "\e9ec";
}
.sh-smily-happy-b:before {
    content: "\e9ed";
}
.sh-smily-neutral-b:before {
    content: "\e9ee";
}
.sh-smily-sad-b:before {
    content: "\e9ef";
}
.sh-soundcloud:before {
    content: "\e9f0";
}
.sh-soundcloud-b:before {
    content: "\e9f1";
}
.sh-square:before {
    content: "\e9f2";
}
.sh-square-b:before {
    content: "\e9f3";
}
.sh-stady:before {
    content: "\e9f4";
}
.sh-stady-b:before {
    content: "\e9f5";
}
.sh-star:before {
    content: "\e9f6";
}
.sh-star-b:before {
    content: "\e9f7";
}
.sh-star-circle:before {
    content: "\e9f8";
}
.sh-star-half:before {
    content: "\e9f9";
}
.sh-steam:before {
    content: "\e9fa";
}
.sh-steam-b:before {
    content: "\e9fb";
}
.sh-table:before {
    content: "\e9fc";
}
.sh-tablet:before {
    content: "\e9fd";
}
.sh-triangle:before {
    content: "\e9fe";
}
.sh-triangle-b:before {
    content: "\e9ff";
}
.sh-twitch:before {
    content: "\ea00";
}
.sh-twitch-b:before {
    content: "\ea01";
}
.sh-twitter:before {
    content: "\ea02";
}
.sh-twitter-b:before {
    content: "\ea03";
}
.sh-typo3:before {
    content: "\ea04";
}
.sh-upload:before {
    content: "\ea05";
}
.sh-user:before {
    content: "\ea06";
}
.sh-users:before {
    content: "\ea07";
}
.sh-video:before {
    content: "\ea08";
}
.sh-video-b:before {
    content: "\ea09";
}
.sh-vimeo:before {
    content: "\ea0a";
}
.sh-vimeo-b:before {
    content: "\ea0b";
}
.sh-vine:before {
    content: "\ea0c";
}
.sh-vine-b:before {
    content: "\ea0d";
}
.sh-wallpaper:before {
    content: "\ea0e";
}
.sh-watch:before {
    content: "\ea0f";
}
.sh-whatsapp:before {
    content: "\ea10";
}
.sh-whatsapp-b:before {
    content: "\ea11";
}
.sh-windows:before {
    content: "\ea12";
}
.sh-wordpress:before {
    content: "\ea13";
}
.sh-x:before {
    content: "\ea14";
}
.sh-xing:before {
    content: "\ea15";
}
.sh-xing-b:before {
    content: "\ea16";
}
.sh-youtube:before {
    content: "\ea17";
}
.sh-youtube-b:before {
    content: "\ea18";
}
.sh-youtube-c:before {
    content: "\ea19";
}
.sh-zend:before {
    content: "\ea1a";
}

/* Styling Parts */
.sh {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size-adjust: none;
  font-stretch: normal;
  font-feature-settings: normal;
  font-language-override: normal;
  font-kerning: auto;
  font-synthesis: weight style;
  font-variant: normal;
  text-rendering: auto; }

.sh-ul {
  padding-left: 0px;
  margin-left: 2.14286em;
  list-style-type: none; }

.sh-ul > li {
  position: relative; }

.sh-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.142857em;
  text-align: center; }

.sh-fw {
  width: 1.28571em;
  text-align: center; }

.sh-rotate-90 {
  transform: rotate(90deg); }
.sh-rotate-180 {
  transform: rotate(180deg); }
.sh-rotate-270 {
  transform: rotate(270deg); }

.sh-flip-horizontal {
  transform: scale(-1, 1); }
.sh-flip-vertical {
  transform: scale(1, -1); }

.sh-lg {
  font-size: 1.33333em; }
.sh-2x {
  font-size: 2em; }
.sh-25x {
  font-size: 2.5em; }
.sh-3x {
  font-size: 3em; }
.sh-4x {
  font-size: 4em; }
.sh-5x {
  font-size: 5em; }

.sh-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em !important;
  vertical-align: middle;
}
.sh-stack-1x,
.sh-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.sh-stack-1x {
  line-height: inherit !important;
}
.sh-stack-2x {
  font-size: 2em;
}
.sh-inverse {
  color: #ffffff;
}